body{
  min-height: 101vh;
}

.hero{
  padding: 2% 0;
}

.hero__title{
  font-family: 'Dosis', sans-serif;
  font-size: 1.8em;
  margin: 1% 0; 
}

.hero__title strong{
  color: #3490dc;
  text-transform: uppercase;
  font-weight: 700;
}

#searchform--one{
  position: relative;
  background: #fff;
  margin-bottom: 2%;
}

.searchform-one__hidden-button{
  position: absolute;
  right: 10px;
  /* opacity: 0; */
  height: 40px;
  width: 40px;
  border: none;
  background-color: #fff;
  /* color: #fff; */
  border-radius: 50%;
  margin-top: -2px;
  transition: .2s ease-in-out;
}

.searchform-one__hidden-button:hover{
  background-color: #f4f4f4;
}

.searchform-one__hidden-button:hover #search-contract__icon--search{
  fill: #3490dc;
}

#search-contract__icon--search{
  transform: rotate(90deg);
  transition: fill .1s ease-in-out;
}

.has-search .form-control-feedback {
  font-size: 1.5em;
  top: 12%;
  right: 1%;
}

#searchform--one .form-control:focus {
  box-shadow: none;
}

main{
  margin: 2% 0;
  background-color: #fff;
  padding: 4% 2%;
  border-radius: 5px;
  box-shadow: 0px 0px 26px 1px rgba(0,0,0,0.1);
}

input[type=file].form-control{
  padding: 2%;
  border-radius: 5px;
  height: 65px;
}

.pull-right{
  text-align: right;
  padding: 0;
}

.pull-right button{
  background-color: #2b89c5;
  /* background-color: #000; */
  border-color: transparent;
  color: #fff;
  width: 200px;
  border-radius: 100px;
  transition: 0.3s ease-in
}

.pull-right button:hover{
  background-color: #1e6592;
  color: #fff;
  border-color: #1e6592;
  box-shadow: 0px 4px 15px 2px rgba(0,0,0,0.3)
}

label{
  color: #000
}

.table th, .table td {
    padding: 0.2rem 0.3rem;
}

.list-contract__party,
.list-contracts__associated
{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  margin: 5px;
}

.data{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 70px;
}

.data__start, .data__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: #3AA9F0;
  color: #fff;
}

.list-contract{
  margin-top: 50px
}

.data__start > *, .data__end > * {
  margin: 0 !important;
}

#table-result-search{
  margin: 15px
}

.info{
  display: flex;
  width: 100%;
  margin: 0 15px;
  padding: 10px;
  border: 1px solid #f4f4f4;
  border-radius: 5px;
}

.info__text{
  margin: 0;
}

.navigation-clean{
  background-color: #1fa9f0
}

.navigation-clean.navbar-light .navbar-nav .nav-link {
  color: #fff;
  border: 2px solid transparent; 
  margin-left: 5px;
}

.navigation-clean.navbar-light .navbar-nav .nav-link:focus, .navigation-clean.navbar-light .navbar-nav .nav-link:hover {
  color: #f4f4f4 !important;
  background-color: #1c98d8;
  border-radius: 5px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus
{
  font-family: Dosis;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}

.navbar-light .navbar-brand:hover {
  color: #f4f4f4;
}

.table-bordered thead th, .table-bordered thead td {
  font-family: Dosis;
  color: #276aa2;
}

button:focus {
  outline: none;
}

.react-datepicker-wrapper{
  display: block !important
}

.form-group.files label{
  color: #155c98
}

.modal{
  padding: 20px
}

.modal-dialog {
  max-width: 80% !important
}

.date-contract{
  display: flex;
  margin-bottom: 25px;
}

.date-contract > *{
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
}

.date-contract p {
  margin: 0;
}

.upper{
  text-transform: uppercase
}

.btn--modal{
  margin-top: 20px;
}

.btn--modal:focus{
  box-shadow: none !important
}

.listener-modal-contract{
  font-weight: bold;
  color: #000;
  margin: 0;
  margin-bottom: 10px;
  transition: 0.5s;
  text-transform: uppercase;
  display: inline-flex;
  font-size: 13px
}

.listener-modal-contract:hover{
  cursor: pointer;
  color: #3490dc
}

.primary-text{
  color:#3490dc
}

.loading{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 100000;
}

.center{
  text-align:center
}

.pointer{
  cursor: pointer
}

.listed-party__label h5 {
  color: #3490dc;
  font-size: 16px;
}

.listed-party__cpf,
.listed-party__mail,
.listed-party__phone{
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

.btn-info:focus, .btn-info.focus{
  box-shadow: none
}

.btn-info.disabled, .btn-info:disabled {
  color: rgba(255,255,255,.9);
  background-color: #ccc;
  border-color: #ccc;
}

.btn-info.disabled:hover, .btn-info:disabled:hover {
  color: rgba(255,255,255,.7);
  background-color: #ccc;
  border-color: #ccc;
  box-shadow: none
}

.success{
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 3%;
  background-color: #4dbdbd;
  color: #fff;
}

.error{
  border: 1px solid #f4f4f4;
  border-radius: 5px;
  padding: 2%;
  margin-bottom: 3%;
  background-color: #b11212;
  color: #fff;
}

