.has-search .form-control-feedback {
  position: absolute;
  right: 0px;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

#searchform--one {
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
  -moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
  box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.55);
}

#searchform--one input {
  border: none;
}

